<a href="https://colab.research.google.com/github/kethyllecury/algoritimo/blob/main/26_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:

idade1= 27
idade2= 20


soma= idade1 + idade2
print(soma)
subtrair=idade1 - idade2
print(subtrair)

div=idade1/idade2
print (div)

mult=idade1 * idade2
print(mult)


idade1 + 10

idade1 - 15

idade1 * 4

idade1 / 5


2 * (idade1 + idade2)

2* idade1 + 3 * idade2 / 4

(2*idade1+ 3 * idade2 ) / 4

idade1 % idade2

47
7
1.35
540

7

In [ ]:
pessoa= "ket"
idade= 37
altura= 1.70
dev= True
type(pessoa)

type(idade)

type(altura)

type(dev)

In [ ]:
print("pink pony club")