<a href="https://colab.research.google.com/github/kethyllecury/algoritimo/blob/main/ATIVIDADE%20ACAD%C3%8AMICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3,4,5, 6, 7, 8, 9]
x=[]
for i in range(len(a)-1,-1,-1):
  print("i agora e ", i, ", adicionando ", a[i], " no x")
  valor = a[i]
  x.append(valor)

x

i agora e  8 , adicionando  9  no x
i agora e  7 , adicionando  8  no x
i agora e  6 , adicionando  7  no x
i agora e  5 , adicionando  6  no x
i agora e  4 , adicionando  5  no x
i agora e  3 , adicionando  4  no x
i agora e  2 , adicionando  3  no x
i agora e  1 , adicionando  2  no x
i agora e  0 , adicionando  1  no x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = [5,3,8,1,9,7,4,6,8,54,75,6,58,568,464,65409,60594,7495,7495,7,43,24,64574,35,235,142352,5345,24,424,353543,353,0]
soma = 0
for i in a:
  soma = soma + i



soma /len(a)

148.87368807146547

In [ ]:
import math

In [ ]:
n = 5776
r = int(math.sqrt(n))
r * r

5776